# Using whitelisting based on https://www.howtogeek.com/devops/how-to-set-up-gitignore-as-a-whitelist/
*
!*/

# track this file
!.gitignore

# whitelist
!/.husky/**/*
!/.env.example
!/.eslintignore
!/.eslintrc.json
!/.solhint.json
!/commitlint.config.js
!/hardhat.config.ts
!/LICENCE
!/package-lock.json
!/package.json
!/README.md
!/tsconfig.json